Repository TiPunchLabs/ansible-docker-apps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ansible-vault, add-yaml-document-start

Path conditions:
  check-ansible-vault: any of: (^|/)vault/.*$
  add-yaml-document-start: any of: \.(yml|yaml)$

fix(ci): correct terraform working directory path
  .github/workflows/ci.yml
Due: add-yaml-document-start

feat(terraform): add branch protection requiring CI to pass
  terraform/main.tf
Due: none

fix(lint): exclude .venv, .env, .github and terraform from linting
  .ansible-lint
  .yamllint
Due: none

fix(ci): fix ansible-lint vault and syntax-check errors
  .ansible-lint
  .github/workflows/ci.yml
Due: add-yaml-document-start

feat(semaphore): add Semaphore UI deployment role
  deploy.yml
  group_vars/all/main.yml
  group_vars/all/vault/semaphore.yml
  roles/caddy/handlers/main.yml
  roles/caddy/templates/Caddyfile.j2
  roles/caddy/vars/main.yml
  roles/semaphore/tasks/main.yml
  roles/semaphore/tasks/uninstall.yml
  roles/semaphore/templates/docker-compose.yml.j2
  roles/semaphore/vars/main.yml
  uninstall.yml
Due: check-ansible-vault, add-yaml-document-start

docs: add Semaphore UI to README and CHANGELOG
  CHANGELOG.md
  README.md
Due: none

feat: replace Dependabot with Renovate for dependency management
  .github/dependabot.yml
  CLAUDE.md
  README.md
  group_vars/all/main.yml
  renovate.json
  roles/caddy/vars/main.yml
  roles/excalidraw/vars/main.yml
  roles/open_webui/tasks/main.yml
  roles/open_webui/vars/main.yml
  roles/portainer/vars/main.yml
  roles/semaphore/vars/main.yml
Due: add-yaml-document-start

feat(open_webui): update Open WebUI from v0.7.2 to v0.8.3
  roles/open_webui/vars/main.yml
Due: add-yaml-document-start

docs: update Open WebUI version to v0.8.3 in README and CLAUDE.md
  CLAUDE.md
  README.md
Due: none
